* {
   font-family: lato;
   box-sizing: border-box;
}

.main {
   max-width: 1604px;
   width: 100%;
   background-color: #1B0E0F;
   height: 2088px;
   padding: 96px;
   margin: auto;
   margin-top: 226px;
}

.tetri {
   max-width: 1412px;
   height: 1896px;
   width: 100%;
   margin: auto;
   background-color: #fff;
   padding: 96px 66px;
}

.title {
   text-align: center;
   margin-bottom: 56px;
}

.title>span {
   color: #002AFE;
   text-align: center;
   font-family: var(--Font-family-font-family-body, Inter);
   font-size: var(--Font-size-text-md, 16px);
   font-style: normal;
   font-weight: 600;
   line-height: var(--Line-height-text-md, 24px);
}

.title>h1 {
   color: #181D27;
   text-align: center;
   font-family: Inknut Antiqua;
   font-size: 40px;
   font-weight: 600;
   margin-bottom: 32px;
}

.title>p {
   color: #535862;
   text-align: center;
   font-family: Inria Sans;
   font-size: 20px;
   font-weight: 400;
}

ul {
   list-style-type: none;
}

li {
   color: #535862;
   font-family: Inder;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 28px;
   margin-bottom: 20px;
}

li img {
   vertical-align: middle
}


.share {
   margin-bottom: 56px;
   max-width: 1280px;
   width: 100%
}

.firstext {
   width: 584px;
   display: inline-block;
   vertical-align: middle;
}

.firstext>h1 {
   color: #181D27;
   font-family: Inter;
   font-size: 30px;
   font-weight: 600;
}

.firstext>p {
   color: #535862;
   font-family: Inter;
   font-size: 18px;
   font-weight: 400;
   margin-bottom: 32px;

}
.firstext >span{
   color: #6941C6;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */   
}

.firstimg {
   display: inline-block;
   vertical-align: middle;
   overflow: none;
   width: 595px;
   margin-right: 96px;
}

.firstimg>img {
   width: 595px;
}

.deliver {
   margin-bottom: 56px;
}

.secondimg,
.secondtext {
   display: inline-block;
   vertical-align: middle;
}

.secondtext {
   width: 584px;
}

.secondimg {
   margin-right: 96px;
   width: 595px;
}

.secondtext > span {
   color: #6941C6;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
}

.secondimg>img {
   width: 595px;
}

.secondtext>h1 {
   color: #181D27;
   font-family: Inter;
   font-size: var(--Font-size-display-sm, 30px);
   font-style: normal;
   font-weight: 600;
   line-height: var(--Line-height-display-sm, 38px);
   /* 126.667% */
}

.secondtext>p {
   color: #535862;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: var(--Line-height-text-lg, 28px);
}

.author>img,
.author>div {
   vertical-align: middle;
   display: inline-block;
}

.author>div>p {
   margin: 2px 3px;
   color: #181D27;
   font-family: var(--Font-family-font-family-body, Inter);
   font-size: var(--Font-size-text-sm, 14px);
   font-style: normal;
   font-weight: 600;
   line-height: var(--Line-height-text-sm, 20px);
}

.author>div>p+p {
   color: #535862;
   font-family: var(--Font-family-font-family-body, Inter);
   font-size: var(--Font-size-text-sm, 14px);
   font-style: normal;
   font-weight: 400;
   line-height: var(--Line-height-text-sm, 20px);
}